<nav  class="navbar navbar navbar-default ">
  <div class="container-fluid">
    <a style="color:white;  font-family: sansation;" aria-label="Eat.Review.Share Application"  data-toggle="modal" href="#" >
        <b>EAT & REVIEW</b>
    </a>
    <div class="pull-right navbar-header">
            <a aria-label="Filter restaurants"  data-toggle="modal" href="#filterform" >
              <span style="color:white" class="primary glyphicon glyphicon-filter"></span>
            </a>
    </div>

  </div>
</nav>
